
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Proyecto Final &amp; Software Avanzado</title>
    <!-- GLOBAL MAINLY STYLES-->
    <link href="/assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/vendors/line-awesome/css/line-awesome.min.css" rel="stylesheet" />
    <link href="/assets/vendors/themify-icons/css/themify-icons.css" rel="stylesheet" />
    <link href="/assets/vendors/animate.css/animate.min.css" rel="stylesheet" />
    <link href="/assets/vendors/toastr/toastr.min.css" rel="stylesheet" />
    <link href="/assets/vendors/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" />
    <!-- THEME STYLES-->
    <link href="/assets/css/main.min.css" rel="stylesheet" />
    <!-- PAGE LEVEL STYLES-->
</head>

<body class="fixed-navbar">
    <div class="page-wrapper">
        <!-- START HEADER-->
        <header class="header">
            <div class="page-brand">
                <a href="inicio">
                    <span class="brand">GRUPO
                        <span class="brand-tip">1</span>
                    </span>
                    <span class="brand-mini">SA</span>
                </a>
            </div>
            <div class="d-flex justify-content-between align-items-center flex-1">
                <!-- START TOP-LEFT TOOLBAR-->
                <ul class="nav navbar-toolbar">
                    <li>
                        <a class="nav-link sidebar-toggler js-sidebar-toggler" href="javascript:;">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                    </li>
                    <li style="margin-left: 370px;">
                        <h2>Software Avanzado - Proyecto Final</h2>
                    </li>
                </ul>
                <!-- END TOP-LEFT TOOLBAR-->

                <!-- START TOP-RIGHT TOOLBAR-->
                <ul class="nav navbar-toolbar">
                    <li class="dropdown dropdown-user">
                        <a class="nav-link dropdown-toggle link" data-toggle="dropdown">
                            <span>{{loggedUser.correo}}</span>
                            <img src="/assets/img/users/admin-image.png" alt="image" />
                        </a>
                        <div class="dropdown-menu dropdown-arrow dropdown-menu-right admin-dropdown-menu">
                            <div class="dropdown-arrow"></div>
                            <div class="dropdown-header">
                                <div class="admin-avatar">
                                    <img src="/assets/img/users/admin-image.png" alt="image" />
                                </div>
                                <div>
                                    <h5 class="font-strong text-white">{{loggedUser.correo}}</h5>
                                </div>
                            </div>
                            <div class="admin-menu-features">
                                <a class="admin-features-item" href="javascript:;"><i class="ti-user"></i>
                                    <span>PERFIL</span>
                                </a>
                                <a class="admin-features-item" href="javascript:;"><i class="ti-support"></i>
                                    <span>MIS Complementos</span>
                                </a>
                            </div>
                            <div class="admin-menu-content">
                                <div class="d-flex justify-content-between mt-2">
                                    <a class="d-flex align-items-center" href="/logout">Logout<i class="ti-shift-right ml-2 font-20"></i></a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- END TOP-RIGHT TOOLBAR-->
            </div>
        </header>
        <!-- END HEADER-->
        <!-- START SIDEBAR-->
        <nav class="page-sidebar" id="sidebar">
            <div id="sidebar-collapse">
                <ul class="side-menu">
                    <li class="active">
                        <a href="inicio"><i class="sidebar-item-icon ti-home"></i>
                            <span class="nav-label">Inicio</span>
                        </a>
                    </li>
                    <li>
                        <a href="/inicio"><i class="sidebar-item-icon ti-package"></i>
                            <span class="nav-label">Complementos</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon ti-check-box"></i>
                            <span class="nav-label">Aprobar Cadenas</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon ti-layout-tab-window"></i>
                            <span class="nav-label">Traducir Cadenas</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon ti-files"></i>
                            <span class="nav-label">Descargar Complementos</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- END SIDEBAR-->
        <div class="wrapper content-wrapper">
            
            <!-- START PAGE CONTENT-->

            <div class="page-content fade-in-up">
                <div class="ibox">
                    <div class="ibox-body">
                        <h5 class="font-strong mb-4">Complementos</h5>
                        <div class="flexbox mb-4">
                            <div class="flexbox">
                                <label class="mb-0 mr-2">Localización:</label>
                                <select class="selectpicker show-tick form-control" id="type-filter" title="Seleccione localización" data-style="btn-solid" data-width="150px">
                                    <option value="">All</option>
                                    <option>en_us</option>
                                    <option>es_mx</option>
                                    <option>es_ar</option>
                                    <option>it_it</option>
                                    <option>fr_fr</option>
                                </select>
                            </div>
                            <div class="input-group-icon input-group-icon-left mr-3">
                                <span class="input-icon input-icon-right font-16"><i class="ti-search"></i></span>
                                <input class="form-control form-control-rounded form-control-solid" id="key-search" type="text" placeholder="Buscar ...">
                            </div>
                        </div>
                        <div class="table-responsive row">
                            {{#if error}}
                            <div class="alert alert-danger">
                                <strong>Error!</strong><br>{{error}} 
                            </div>
                            {{/if}}
                            <table class="table table-bordered table-hover" id="datatable">
                                <thead class="thead-default thead-lg">
                                    <tr>
                                        <th>Complemento ID</th>
                                        <th>Nombre Complemento</th>
                                        <th>Localización Original</th>
                                        <th>Nombre Usuario</th>
                                        <th>Correo Usuario</th>
                                        <th>Localizaciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each complementos}}
                                    <tr>
                                        <td>
                                            <a href="/complemento/{{this.idComplemento}}">{{this.idComplemento}}</a>
                                        </td>
                                        <td>{{this.nombreComplemento}}</td>
                                        <td style="text-align: center;">{{this.localizacionOriginal}}</td>
                                        <td>{{this.nombre}}</td>
                                        <td>{{this.correo}}</td>
                                        <td>
                                            {{#each this.localizaciones}}
                                                <span class="badge badge-success badge-pill">{{this}}</span>
                                            {{/each}}
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT-->

            <footer class="page-footer">
                <div class="font-13">2019 © <b>Segundo Semestre</b> - Proyecto Final Software Avanzado</div>
                <div class="to-top"><i class="fa fa-angle-double-up"></i></div>
            </footer>
        </div>
    </div>

    <!-- BEGIN PAGA BACKDROPS-->
    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
    <!-- END PAGA BACKDROPS-->
    <!-- New question dialog-->
    <div class="modal fade" id="session-dialog">
        <div class="modal-dialog" style="width:400px;" role="document">
            <div class="modal-content timeout-modal">
                <div class="modal-body">
                    <button class="close" data-dismiss="modal" aria-label="Close"></button>
                    <div class="text-center mt-3 mb-4"><i class="ti-lock timeout-icon"></i></div>
                    <div class="text-center h4 mb-3">Set Auto Logout</div>
                    <p class="text-center mb-4">You are about to be signed out due to inactivity.<br>Select after how many minutes of inactivity you log out of the system.</p>
                    <div id="timeout-reset-box" style="display:none;">
                        <div class="form-group text-center">
                            <button class="btn btn-danger btn-fix btn-air" id="timeout-reset">Deactivate</button>
                        </div>
                    </div>
                    <div id="timeout-activate-box">
                        <form id="timeout-form" action="javascript:;">
                            <div class="form-group pl-3 pr-3 mb-4">
                                <input class="form-control form-control-line" type="text" name="timeout_count" placeholder="Minutes" id="timeout-count">
                            </div>
                            <div class="form-group text-center">
                                <button class="btn btn-primary btn-fix btn-air" id="timeout-activate">Activate</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End New question dialog-->
    
    <!-- CORE PLUGINS-->
    <script src="/assets/vendors/jquery/dist/jquery.min.js"></script>
    <script src="/assets/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="/assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/assets/vendors/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/assets/vendors/jquery-idletimer/dist/idle-timer.min.js"></script>
    <script src="/assets/vendors/toastr/toastr.min.js"></script>
    <script src="/assets/vendors/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <!-- CORE SCRIPTS-->
    <script src="/assets/js/app.min.js"></script>
    <!-- PAGE LEVEL PLUGINS-->
    <script src="/assets/vendors/dataTables/datatables.min.js"></script>
    <!-- PAGE LEVEL SCRIPTS-->
    <script>
        $(function() {
            $('#datatable').DataTable({
                pageLength: 10,
                fixedHeader: true,
                responsive: true,
                "sDom": 'rtip',
                columnDefs: [{
                    targets: 'no-sort',
                    orderable: false
                }]
            });

            var table = $('#datatable').DataTable();
            $('#key-search').on('keyup', function() {
                table.search(this.value).draw();
            });
            $('#type-filter').on('change', function() {
                table.column(5).search($(this).val()).draw();
            });
        });
    </script>
</body>
